.btn {
  background: transparent;
  border: none;
  outline: none;
  color: var(--grey);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  text-transform: uppercase;
  align-items: center;
  gap: 5px;
  width: auto;
}

.activeBtn {
  color: var(--text-color)
}