.searchbar {
  position: relative;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: end;
  grid-template-columns:auto;
  width: 70px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  transition: .5s ease;
}

.activeSearchbar {
  width: 250px;
  grid-template-columns: 1fr auto;
}

.input {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: var(--text-color);
  font-size: 16px;
}

.input::placeholder {
  color: var(--text-color);
}

.activeInput {
  display: block;
}

.icon {
  cursor: pointer;
}

.listContainer {
  display: none;
  backdrop-filter: blur(10px);
  width: 250px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  z-index: 1000;
  right: 0;
  color: var(--text-color);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.activeListContainer {
  display: grid;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  display: grid;
  align-content: start;
  gap: 5px;
  height: 300px;
  overflow: scroll;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 0px 15px;
  padding: 10px 0px;
  border-bottom: 1px solid var(--text-color);
}

.starIcon {
  fill: var(--grey)
}

.activeStarIcon {
  fill: var(--text-color)
}

.listItem {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: 16px;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  transition: .3s ease;
  align-self: baseline;
}

.listItem:hover {
  background: rgba(0, 0, 0, 0.3);
}